# 忽略所有zip文件
*.zip

# 忽略WordPress生成的临时文件
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 忽略编辑器生成的文件
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 忽略依赖目录
node_modules/
vendor/